body{
    text-align:center;
    background-image:linear-gradient(to bottom right, rgb(58, 145, 160),rgb(252, 176, 188));
}

.btn{
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 10px solid black;
    margin:2rem;
}

.btn-container{
    display:flex;
    justify-content: center;
}

.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}.red{
    background-color: red;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: blue;
}
